@import "bootswatch/dist/flatly/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    text-decoration: none;
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

.button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
    transform: translate(0);
    box-shadow: none;
}

.hoverbutton {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.hoverbutton::before {
    margin-left: auto;
}

.hoverbutton::after, .hoverbutton::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.hoverbutton:hover::after, .hoverbutton:hover::before {
    width: 100%;
}